.wrapper {
    max-width: 562px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    gap: 22px;
}

.commentsContainer {
    margin: 0 20px;
}

.childComments {
    padding-left: 32px;
}

@media (max-width: 576px) {
    .childComments {
        padding-left: 12px;
    }
}