/* global-styles.css */

:root {
    --background-color: #F8F8FF;

    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;

    --text-color: 	#4d4d4d;

}

body {
    background-color: var(--background-color);
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--text-color);
}

